@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --light: #ffffff;
    --dark: #2B2B2B;
    --grey: #C5C5C5;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

main {
    font-family: 'Cousine', monospace;
    width: 100vw;
    height: 100vh;
    background-color: #C0E0E5;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}